.questions{
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
.qtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  color: var(--fontPrimary);
}
.qtitle span {
  color: var(--active);
  font-size: 20px;
}
